@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  display: block;
}

/* AntDesign Icons config */
.anticon {
  display: block !important;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}